<body style="margin:0px;background-color:#6ecbb9;text-align:center;">

<table width="100%" cellpadding="0" cellspacing="0">
  <tbody>
  <tr>
    <td align="center" valign="top">
      <img src="<%= asset_path("2bg.jpg") %>" border="0">
    </td>
  </tr>
  </tbody>
</table>

<div id="btn" style="width:100%;height:490px;position:absolute;top:437px;margin-left:auto;margin-right:auto;z-index:10;">
  <center>
    <img id="gg" src="<%= asset_path("2gg.png") %>" border="0" style="margin-bottom:12px;cursor:hand;" onclick="cj();">

    <div style="width:365px;height:48px;background-color:#5fbaa9;text-align:center;font-size:22px;color:#ffffff;margin-bottom:12px;line-height:48px;">

      <span id="count" ><%= "剩余#{@gua_count}次机会" %></span>

    </div>

    <img src="<%= asset_path("2btn1.png") %>" border="0" style="display:block;margin-bottom:12px;" onclick="hint();">


    <a href="/my?openid=<%= @openid %>">
      <img src="<%= asset_path("2btn2.png") %>" border="0" >
    </a>

    <div style="width:365px;height:48px;background-color:#5fbaa9;text-align:center;font-size:22px;color:#ffffff;margin-bottom:12px;line-height:48px;">

      <a href="/friend?openid=<%= @openid %>">
        助阵好友
      </a>

    </div>



  </center>
</div>
</body>
<!--/div-->


<script type="text/javascript">

    function hint(){
        alert('请在右上角点击分享');
    }

    function cj() {

        $.ajax({
            url: '/gua',
            type: 'post',
            dataType: 'json',
            data: {openid: "<%= @openid%>"},
//            data: {openid: 'ozmMMt8Irb8htU_jlRVX3Ekkzov8'},

            success: function(data){
                if(data.gua_count >= 0) {
                    $("#count").html('剩余' + data.gua_count + '次机会');
                    //        var g = $("#gg");
                    var g = document.getElementById("gg");
                    g.src = "images/m" + data.award + ".png";
                }else {
                  alert("分享获取抽奖次数或者只能等明天再来~");

                }
            }
        });
    }


</script>

<script type="text/javascript">

    // 给按钮增加click事件：请不要太纠结这个写法，demo而已
    WeixinApi.showToolbar();
    WeixinApi.showOptionMenu();

    // 需要分享的内容，请放到ready里
    WeixinApi.ready(function(Api) {

        // 微信分享的数据
        var wxData = {
            "appId": "", // 服务号可以填写appId
            "imgUrl" : 'http://www.baidufe.com/fe/blog/static/img/weixin-qrcode-2.jpg',

            "link" : "<%= Setting.local_url%>"+"?mid="+"<%= @user_id%>",
            "desc" : '瑞宏新城-璟庭 优享生活 分享精彩 分享',
            "title" : "瑞宏新城-璟庭 优享生活 分享精彩 分享"
        };

        // 分享的回调
        var wxCallbacks = {
            // 分享操作开始之前
            ready : function() {
                // 你可以在这里对分享的数据进行重组
//                alert("准备分享");
            },
            // 分享被用户自动取消
            cancel : function(resp) {
                // 你可以在你的页面上给用户一个小Tip，为什么要取消呢？
//                alert("分享被取消，msg=" + resp.err_msg);
            },
            // 分享失败了
            fail : function(resp) {
                // 分享失败了，是不是可以告诉用户：不要紧，可能是网络问题，一会儿再试试？
//                alert("分享失败，msg=" + resp.err_msg);
            },
            // 分享成功
            confirm : function(resp) {
                // 分享成功了，我们是不是可以做一些分享统计呢？
//                alert("分享成功，msg=" + resp.err_msg);
            },
            // 整个分享过程结束
            all : function(resp,shareTo) {
                // 如果你做的是一个鼓励用户进行分享的产品，在这里是不是可以给用户一些反馈了？
//                alert("分享" + (shareTo ? "到" + shareTo : "") + "结束，msg=" + resp.err_msg);
            }
        };

        // 用户点开右上角popup菜单后，点击分享给好友，会执行下面这个代码
        Api.shareToFriend(wxData, wxCallbacks);

        // 点击分享到朋友圈，会执行下面这个代码
        Api.shareToTimeline(wxData, wxCallbacks);

        // 点击分享到腾讯微博，会执行下面这个代码
        Api.shareToWeibo(wxData, wxCallbacks);

        // iOS上，可以直接调用这个API进行分享，一句话搞定
        Api.generalShare(wxData,wxCallbacks);

        // 有可能用户是直接用微信“扫一扫”打开的，这个情况下，optionMenu、toolbar都是off状态
        // 为了方便用户测试，我先来trigger show一下
        // optionMenu
        var elOptionMenu = document.getElementById('optionMenu');
        elOptionMenu.click(); // 先隐藏
        elOptionMenu.click(); // 再显示
        // toolbar
        var elToolbar = document.getElementById('toolbar');
        elToolbar.click(); // 先隐藏
        elToolbar.click(); // 再显示
    });

</script>

